:host {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .header__link {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    transition: color 0.25s ease-in-out;
    &:hover {
      color: rgb(0, 0, 0, 0.5);
      transition: color 0.25s ease-in-out;
    }
  }
}
